:root {
    --primary-color:#fcf9fe;
    --secondary-color:#f3a738; 
    --background-color:#ffffff; 
    --text-color:#000000;     
    --font-family:"Lato", sans-serif;
    --paragraph-font: "Poppins", sans-serif;
    --line-height: 1.3rem; 
    --lg-line-height: 1.6rem;
    --button-color:linear-gradient(90deg, rgba(243,167,56,1) 0%, rgba(252,249,254,1) 100%, rgba(252,249,254,1) 100%);
}

@media only screen and (min-width:36em) {
   body {
    max-width: 1400px;
    margin: 0 auto;
   } 

   footer {
    line-height: var(--lg-line-height);
   }

   #myButton {
    display: none;
   }

   ul.menuLinks {
    display: flex;
    justify-content: flex-end;
   }

   ul.menuLinks a:hover {
    background-color: rgba(0,0,0,0.3);
   }

   nav {
    grid-template-rows: 1fr;
    background-color: var(--secondary-color);
   }

   /* ============== MAIN ============= */

   article {
    /* max-width: 1000px; */
    margin: 1rem 0;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.3rem;
}

.list section h2 {
	font-size: 1.2rem;
	
}

.list section p {
    font-size: 1.2rem;
    font-weight: 400;
}

.list section a {
    font-size: 1rem;
}

.hero {
    position: relative;
}

.cta {    
    position: absolute;
    display: block;
    top: 50px;
    right: -2px;
    text-align: right;

}

.cta p {
    font-size: 3rem;
    margin: 0 0 1rem 0;    
}
.cta a {
    display: inline-block;
    margin-right: 1rem;    
}

.event-weather {
  
    grid-template-columns: 2fr 1fr 1fr;
}

.current-card {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
  /* ===============DISCOVER PAGE================= */

     .grid-container {      
        grid-template-columns: 25vw auto;
       
       
    }

    #image-container img {
       transition: filter 0.3s ease; 
    }
    
    #image-container div img:hover {
        filter: brightness(50%); /* Darken the image */
    }
      

   /* =========== FOOTER ============= */


   .footer-class {
    text-align: right; 
   }

   .footer-social { 
    text-align: center;
}

}



